# Initial data exploration

### This notebook show the unprocessed data, as well as some intermediate data

In [1]:
import pandas as pd
import numpy as np

import sys
sys.path.append("..")
from src.data.make_dataset import make_intermediate_dataset, make_toxic_words_dataset, make_positive_words_dataset

In [2]:
df = pd.read_csv('../data/raw/filtered.tsv', sep='\t')
print(len(df))
df.head()

577777

,Unnamed: 0,reference,translation,similarity,lenght_diff,ref_tox,trn_tox
0,0,"If Alkar is flooding her with psychic waste, t...","if Alkar floods her with her mental waste, it ...",0.785171,0.010309,0.014195,0.981983
1,1,Now you're getting nasty.,you're becoming disgusting.,0.749687,0.071429,0.065473,0.999039
2,2,"Well, we could spare your life, for one.","well, we can spare your life.",0.919051,0.268293,0.213313,0.985068
3,3,"Ah! Monkey, you've got to snap out of it.","monkey, you have to wake up.",0.664333,0.309524,0.053362,0.994215
4,4,I've got orders to put her down.,I have orders to kill her.,0.726639,0.181818,0.009402,0.999348

In [3]:
make_intermediate_dataset()
interim_df = pd.read_csv('../data/interim/filtered.csv')
print(len(interim_df))
interim_df.head()

101535

,reference,translation
0,"They're all laughing at us, so we'll kick your...",they're laughing at us. We'll show you.
1,"Come on, Cal, leave that shit alone.","come on, Cal, put it down."
2,I like that shit.,I love it.
3,How is this not porn? This is porn that comes ...,and this doesn't feel like porn?
4,"Now, I understand you got your grievances with...","I understand you don't have to cut your bills,..."

In [4]:
make_toxic_words_dataset()
toxic_words = open('../data/interim/toxic_words.txt').read().split('\n')
print(len(toxic_words))
toxic_words[:10]

5017

['sagging',
 'jabber',
 'intractable',
 'penisfucker',
 'lethal',
 'bankrupt',
 'exploit',
 'cheats',
 'sin',
 'struck']

In [5]:
make_positive_words_dataset()
positive_words = open('../data/interim/positive_words.txt').read().split('\n')
print(len(positive_words))
positive_words[:10]

1904

['exceptional',
 'reputable',
 'stable',
 'pleasantly',
 'stunned',
 'marvel',
 'impressiveness',
 'steadfastness',
 'humorous',
 'lucid']